<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Auto-école</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item"*ngIf= "authService.isLoggedIn()">
          <a class="nav-link" routerLink="codedelaroute">Code de la route</a>
        </li>

        <li class="nav-item" *ngIf= "authService.isLoggedIn()">
          <a class="nav-link" routerLink="permisdeconduire">Permis de conduire</a>
        </li>
        <li class="nav-item" *ngIf= "authService.isLoggedIn()">
          <a class="nav-link" routerLink= "profil">Mon Profil</a>
        </li>

        <li  class="nav-item" *ngIf= "!authService.isLoggedIn()"  >
          <a class="nav-link" routerLink=  "seconnecter">Se connecter</a>
        </li>
        <li  class="nav-item" *ngIf= "!authService.isLoggedIn()"  >
          <a class="nav-link" routerLink=  "sinscrire">S'inscrire</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" routerLink="contact" >Contactez-nous</a>
        </li>

        <li  class="nav-item"  *ngIf= "authService.isLoggedIn()">
          <a class="nav-link" routerLink= "seconnecter" (click)="onLogoutClick()">Se déconnecter</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

