<section id="card" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <div class="container">
      <div class="description-leçon">
        <p><B>PROFILE</B></p>
      </div>
    </div>
  </div>
</section>



<div class="card">
  <div class="card-header">
    Profile
  </div>
  <div class="card-body">
    <h5 class="card-title"><img class="profileimg" src="../../../assets/images/pro.png" alt="">
    </h5>
    <h4 class="card-text">Bienvenue {{username}} , nous vous souhaitons une bonne lecture</h4>
    <h5>Si vous trouvez des difficulté n'hésitez pas de consulter le forum</h5>
    <a routerLink="/forum" class="btn btn-primary">Forum</a>
  </div>
</div>


