<section id="card" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
    <div class="container">
      <div class="description-leçon">
        <p><B>LEÇONS</B></p>
      </div>
    </div>
  </div>
</section>


  <!-- ======= Courses Section ======= -->
  <section id="courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="../../../assets/images/panneau.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 1 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon1.component.html">Panneaux de signalisation</a></h3>
              <p>Les panneaux de signalisation forment un code de communication qui permet aux usagers de circuler en toute sécurité.

              </p>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/depassement.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 2 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon2.html">Le dépassement</a></h3>
              <p>Le dépassement est une action qui requiert toute la vigilance du conducteur .
                Tous conducteurs voulant effectuer un dépassement doit s'assurer qu'il peut le faire sans danger.
              </p>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="course-item">
            <img src="../../../assets/images/feu.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 3 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon3.html">Feux et éclairage</a></h3>
              <p>Tout conducteur doit pendant la nuit et chaque fois que les conditions de visibilité l'exigent de jour, faire usage des feux relatif à l'équipement et l'aménagement des véhicules .</p>
              <div class="trainer d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/priorité.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 4 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon4.html">Les règles de priorité</a></h3>
              <p>L'intersection est certainement la situation qui nécessite la plus grande vigilance et le plus grand respect des règles implicites et explicites: (priorité à droite, les feux, le stop, céder le passage).</p>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/vitesse.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 5 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon5.html">La vitesse</a></h3>
              <p>Pour rester maitre de son véhicule comme l'exige le code de la route, il est nécessaire de savoir évaluer la distance nécessaire pour arreter son véhicule dans une situation d'urgence</p>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/arret.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 6 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon6.html">Arrêt et stationnement</a></h3>
              <p>Vous apprenez à distinguer l'arret du stationnement .
                Vous devez savoir ou cous pouver garer; vous apprenez également les stationnements interdits
              </p>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/circautoroute.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 7 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon7.html">Circulation auto-route</a></h3>
              <p>Sur autoroute, la circulation est plus sure que sur la route, car on ne rencontre pas d'intersection, on ne croise pas d'autres usagers.
                De plus les virages sont moins prononcés et les obstacles latéraux moins nombreux
              </p>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/croisement.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 8 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon8.html">Le croisement</a></h3>
              <p>
                Le croisement est la position de deux véhicule circulants en sens opposés sur deux voies différentes dans une meme chaussée
              </p>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="../../../assets/images/signalisation.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Leçon 9 </h4>

              </div>

              <h3><a href="../codedelaroute/details-courses/lecon9.html">La signalisation lumineuse</a></h3>
              <p>Les feux de circulation routière constituent un dispositif permettant la régulation du trafic routier entre les usagers de la route .</p>
            </div>
          </div>
        </div>
         <!-- End Course Item-->
      </div>

    </div>
  </section><!-- End Courses Section -->
